%nav
  %h1.text-center
    = link_to "bozo", root_path
  .text-center
    = link_to icon("user", current_user.name), edit_user_registration_path, title: "account"
    &nbsp;|&nbsp;
    = link_to icon("sign-out", "Log Out"), destroy_user_session_path, method: :delete, title: "logout"


  .flash
    - flash.each do |type, message|
      = render partial: 'layouts/flash', locals: { type: type, message: message }

  - if user_signed_in?
    %ul.accordion{ data: { accordion: true } }
      %li.accordion-navigation
        = link_to "Selected Item Details", "#select-detail"
        #select-detail.content
          selected item details
      %li.accordion-navigation
        = link_to "Maps", "#map-list"
        #map-list.content
          list of maps here
      %li.accordion-navigation
        = link_to "Signatures", "#sig-list"
        #sig-list.content
          list of signatures here
      %li.accordion-navigation
        = link_to "Intel", "#intel"
        #intel.content
          towers, corps
      %li.accordion-navigation
        = link_to "Node list", "#node-list"
        #node-list.content
          list of nodes
      %li.accordion-navigation
        = link_to "Edge list", "#edge-list"
        #edge-list.content
          list of edges

