%nav.top-bar{ data: { topbar: true }, role: :navigation }
  %ul.title-area
    %li.name
      %h1= link_to "mapspawn", root_path
    %li.toggle-topbar.menu-icon
      = link_to "#" do
        %span Menu
  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li.has-dropdown
          = link_to icon("user", current_user.username)
          %ul.dropdown
            %li= link_to "Account", edit_user_registration_path
            %li= link_to "Log Out", destroy_user_session_path, method: :delete
      - else
        %li.has-dropdown
          = link_to "login/signup", "#"
          %ul.dropdown
            %li= link_to icon("google", "Google"), user_omniauth_authorize_path(:google_oauth2)
            %li= link_to icon("steam", "Steam"), user_omniauth_authorize_path(:steam)
    %ul.left
      %li
        = link_to "filter", "#"
