- content_for( :body ) do
  %nav.medium-4.right
    = render "layouts/header"

    .tabs-content.selected-item
      - if @map
        = render partial: "connections/form", collection: @map.connections, as: :connection, locals: { map: @map }
        = render partial: "connections/system", collection: @map.systems, as: :system, locals: { map: @map }

    - if @map
      = link_to icon("plus","new connection"), new_map_connection_path(@map)

  %main.medium-8.left
    = yield

= render template: "layouts/application"

