.row
  .small-12
    %h3 Edit User
    %p= "Your main is: #{current_user.name}"

.row
  .small-12
    %h3 Characters
    %p You can associate more characters to this account for authentication
    = link_to icon("plus", "Add a another character to authenticate with"), user_omniauth_authorize_path(:crest), title: "add char"

- current_user.chars.each do |char|
  .row
    .small-4.columns
      = eve_image_tag :character, char.uid, 32
      = char.name
    .small-4.columns
      = eve_image_tag :corporation, char.corp.ccp_id, 32
      = char.corp.name
    .small-4.columns
      = button_to "Delete #{char.name}", user_registration_path(char: char.id), method: :delete, title: "delete char #{char.name}", class: "button small alert" if current_user.chars.count > 1

